<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92065715551-v823sednpag2glafhrql5h2qjbh8m9mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92065715551-v823sednpag2glafhrql5h2qjbh8m9mk</string>
	<key>API_KEY</key>
	<string>AIzaSyA_M-0hY4XdywieklMwF9bnfhkJqa9rJgk</string>
	<key>GCM_SENDER_ID</key>
	<string>92065715551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTravels</string>
	<key>PROJECT_ID</key>
	<string>my-travels-8d595</string>
	<key>STORAGE_BUCKET</key>
	<string>my-travels-8d595.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92065715551:ios:8d09725009987f88aa52ea</string>
</dict>
</plist>